/* video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
  }


 .video-wrapper {
    position: relative;
  }
  
  .video-wrapper video {
    width: 100%;
    height: auto;
  }
  
  #meu-video:hover {
    transform: scale(7.5);
    transform-origin: 50% ;
    transition: all 2.5s ease;
  }
  
  .zoom {
    transform: scale(1.5);
    transform-origin: 50% 50%;
    transition: all 0.5s ease;
  }
  

  */
  * {
	margin: 0;
	padding: 0;
}

#myVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}

.content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	color: #fff;
	text-align: center;
}

h1 {
	font-size: 4rem;
	margin-bottom: 2rem;
}

p {
	font-size: 2rem;
	line-height: 1.5;
	margin-bottom: 4rem;
}

button {
  color: white;
  height: 40%;
  width: 100%;
  background-color: #BCBD79;
  text: bold;
}
